{
  "rules": {
    "max-len": [
      "error",
      {
        "code": 120,
        "comments": 80
      }
    ],
    "consistent-return": 2,
    "indent": [
      1,
      2
    ],
    "no-else-return": 1,
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      1,
      "always"
    ],
    "space-unary-ops": 2
  },
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.tsx"
      ],
      "parserOptions": {
        "project": [
          "./tsconfig.json"
        ]
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "json-format"
  ],
  "settings": {
    "json/sort-package-json": "standard",
    "json/ignore-files": [
      "**/package-lock.json"
    ],
    "json/json-with-comments-files": [
      "**/tsconfig.json",
      ".vscode/**"
    ]
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ]
}